<%- include('./partials/header') %>

<main>
  <section class="feature gradient">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#fff"
        fill-opacity="1"
        d="M0,224L48,213.3C96,203,192,181,288,154.7C384,128,480,96,576,117.3C672,139,768,213,864,208C960,203,1056,117,1152,101.3C1248,85,1344,139,1392,165.3L1440,192L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
      ></path>
    </svg>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img src="img/seo_monochromatic.svg" alt="" />
        </div>

        <div class="col-md-6">
          <h1 class="my-3">Nuestro Sistema</h1>
          <p class="my-4">
            Está elaborado con la última tendencia de diseño y codificado con
            todos los enfoques modernos. Es una plantilla robusta y
            multidimensional y multidimensional.
          </p>
          <ul>
            <li>Lo mejor para una agencia creativa</li>
            <li>Construido con la última tecnología</li>
            <li>Super Responsive</li>
            <li>Diseño creativo</li>
          </ul>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#fff"
        fill-opacity="1"
        d="M0,224L48,213.3C96,203,192,181,288,154.7C384,128,480,96,576,117.3C672,139,768,213,864,208C960,203,1056,117,1152,101.3C1248,85,1344,139,1392,165.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </section>

  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h1>Contactanos:</h1>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Dirección de Correo Electronico</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="nombre@ejemplo.com"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Comentario</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
          <button type="button" class="btn btn-outline-secondary">
            Enviar
          </button>
        </div>
        <div class="col-md-5">
          <img src="img/handshake.svg" alt="Contact image" />
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('./partials/footer') %>
