<header>
  <nav>
    <a href="/">Logo</a>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/productos">Productos</a></li>
      <li><a href="/categorias">Categorías</a></li>
    </ul>
  </nav>
</header>
